@model Model.ViewModels.ProductView

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="" alt="tbd"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">@Model.ProductName</a>
            </h4>
            <h5>@Model.Price</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>
